myODD2.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en" 
   xmlns:sch="http://purl.oclc.org/dsdl/schematron">
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title type="short">Customization of three letters encoded in TEI all</title>
            <author>Clotilde Long</author>
            <respStmt>
               <resp>Encoding and cutsomization by</resp>
               <name>Clotilde Long</name>
            </respStmt>
         </titleStmt>
         <publicationStmt>
            <authority>Clotilde Long</authority>
            <availability status="free">
               <p>Student project published on Github</p>
               <licence>https://github.com/longclotilde00-del/assignment-3---encoding-project</licence>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Derived from <ref target="https://www.tei-c.org/Vault/P5/current/xml/tei/odd/p5subset.xml">base odd</ref></p>
            <p>This ODD was generated using oddbyexample</p>
            <p>Based on "How to make an ODD automagically" by Burnard, "oddbyexample.xsl", and "minimal_odd_starter_attributes.odd"</p>
            <p>The file "How to make an ODD automagically" by Burnard can be downloaded from <ref type="URL">https://github.com/KAKDH/TNAH_XML2025/tree/main/Week9/Exercises/Ex3</ref></p>
            <p>The file "oddbyexample.xsl" can be downloaded from <ref type="URL">https://github.com/KAKDH/TNAH_XML2025/tree/main/Week9/Exercises/Ex3</ref></p>
            <p>The file "minimal_odd_starter_attributes.odd" can be downloaded from <ref type="URL">https://github.com/KAKDH/TNAH_XML2025/blob/main/Week9/Exercises/Ex1/minimal_odd_starter_elements.odd</ref></p>
         </sourceDesc>
      </fileDesc>
      <revisionDesc>
         <change who="Clotilde Long" when="2025-12-20">This file was created based on customisations made during the XML course in the THAH  at Ecole nationale des chartes.</change>
      </revisionDesc>
   </teiHeader>
   <text>
      <body>
         <head>TEI ALL customization for the encoding of a corpus of three letters, for the XML course, TNAH</head>
         <p>This project aims to customize and enrich a TEI all encoding of three letters. It thus aims to further adapt the encoding to the specific characteristics of the corpus.
            This customization follows the creation of a DTD file, then encoding with TEI ALL for the XML-markup languages course at Ecole nationale des chartes.
            The corpus consists of three letters related to French film director François Truffaut. 
            The first letter was written by François Truffaut himself and is addressed to Jean Gruault, 
            the second is addressed to Georges Delerue, 
            and the third one was written by Alfred Hitchcock and addressed to François Truffaut. 
            These three letters bear witness to François Truffaut's working relationships with certain figures in the film industry in the 1960s and 1970s.
         </p>
         
         <p>In order to customize my encoding of this corpus, I have incorporated three custom rules into this document. 
            The first rule is contextual and restricts the usage of <gi>ref</gi>, which must contain the attribute <att>ref</att> if its value is an asterisk. This rule stems from the desire to express the footnote present in the first letter.
            The second rule enforces the use of the <att>type</att> attribute for the <gi>correspAction</gi> by allowing only two values <gi>sent</gi> and <gi>received</gi>. This rule stems from a desire to limit the description of the context in which the corpus is set.
            The third rule constrains the content of the <gi>opener</gi> element, in accordance with the structure common to the three letters in the corpus: It must contain a <gi>dateline</gi> with a <gi>date</gi> and may contain a <gi>placeName</gi>. This rule adapts the encoding to the structure of the letters in my corpus.
         </p>  
         
         <p>This document includes the six elements from the header module:
            <list rend="numbered">
               <item>
                  <gi>teiHeader</gi> from the header module to store required metadata</item>
               <item>
                  <gi>fileDesc</gi> from the header module to record information about this file</item>
               <item>
                  <gi>titleStmt</gi> from the header module to record information about the title</item>
               <item>
                  <gi>publicationStmt</gi> from the header module to detail how it is published</item>
               <item>
                  <gi>sourceDesc</gi> from the header module to record where it is from</item>
               <item>
                  <gi>revisionDesc</gi> from the header module to record informations about the changes made on the file</item>
            </list>
            It also contains the entire "core" module and the entire "tei" module. 
            Finally it also includes most of the elements from the "textstructure" module, but with a modification to exclude the numbered divs 1-7, as
            we rather want to use simple <gi>div</gi>s with <att>type</att>. 
            We also exclude <gi>back</gi> and <gi>front</gi> as we want our main encoding to be stored in the <gi>body</gi>.
         </p>
         <schemaSpec ident="myODD" start="TEI">
            <moduleRef key="tei"/>
            <!--Checking module textcrit-->
            <classRef key="att.textCritical"/>
            <classRef key="model.rdgLike"/>
            <classRef key="model.rdgPart"/>
            <classSpec ident="att.textCritical" type="atts" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="varSeq" mode="delete"/>
                  <attDef ident="require" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module msdescription-->
            <classRef key="model.physDescPart"/>
            <moduleRef key="msdescription"
                       include="msDesc locus origDate origPlace msIdentifier repository collection altIdentifier msContents msItem summary physDesc objectDesc supportDesc condition layoutDesc layout handDesc additions history origin additional adminInfo"/>
            <elementSpec ident="msDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="locus" mode="change">
               <attList>
                  <attDef ident="scheme" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="origDate" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="origPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msIdentifier" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="repository" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="collection" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="altIdentifier" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="series"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="msContents" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="msItem" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="summary" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="physDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="objectDesc" mode="change">
               <attList>
                  <attDef ident="form" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="supportDesc" mode="change">
               <attList>
                  <attDef ident="material" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="paper"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="condition" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="layoutDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="layout" mode="change">
               <attList>
                  <attDef ident="streams" mode="delete"/>
                  <attDef ident="ruledLines" mode="delete"/>
                  <attDef ident="writtenLines" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="additions" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="history" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="origin" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="additional" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="adminInfo" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module namesdates-->
            <classRef key="model.persNamePart"/>
            <moduleRef key="namesdates"
                       include="orgName persName placeName country settlement geo listOrg listPerson listPlace location org person place"/>
            <elementSpec ident="orgName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="persName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="full" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="yes"/>
                     </valList>
                  </attDef>
                  <attDef ident="role" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="author"/>
                        <valItem ident="recipient"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="author"/>
                        <valItem ident="recipient"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="placeName" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="country" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="settlement" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="geo" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listOrg" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listPerson" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="fictional"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="listPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="location" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="org" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="person" mode="change">
               <attList>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="sex" mode="delete"/>
                  <attDef ident="gender" mode="delete"/>
                  <attDef ident="age" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="place" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module dictionaries-->
            <classRef key="att.lexicographic"/>
            <classRef key="model.entryLike"/>
            <classRef key="model.formPart"/>
            <classRef key="model.gramPart"/>
            <classRef key="model.lexicalRefinement"/>
            <classRef key="model.morphLike"/>
            <classRef key="model.ptrLike.form"/>
            <classSpec ident="att.lexicographic" type="atts" mode="change">
               <attList>
                  <attDef ident="expand" mode="delete"/>
                  <attDef ident="split" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="location" mode="delete"/>
                  <attDef ident="mergedIn" mode="delete"/>
                  <attDef ident="opt" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module tagdocs-->
            <classRef key="att.combinable"/>
            <classRef key="att.identified"/>
            <classRef key="att.namespaceable"/>
            <classRef key="att.repeatable"/>
            <classRef key="model.contentPart"/>
            <moduleRef key="tagdocs"
                       include="macroRef moduleRef schemaSpec elementSpec classSpec classes memberOf content attList attDef datatype dataRef valItem valList"/>
            <elementSpec ident="macroRef" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="moduleRef" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="include" mode="delete"/>
                  <attDef ident="except" mode="delete"/>
                  <attDef ident="url" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="schemaSpec" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="docLang" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
                  <attDef ident="module" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="add"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="elementSpec" mode="change">
               <attList>
                  <attDef ident="prefix" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="change"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="classSpec" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="atts"/>
                     </valList>
                  </attDef>
                  <attDef ident="generate" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="[add|change|replace]"/>
                        <valItem ident="delete"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="atts"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="classes" mode="change">
               <attList>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="change"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="memberOf" mode="change">
               <attList>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="[add|delete]"/>
                     </valList>
                  </attDef>
                  <attDef ident="max" mode="delete"/>
                  <attDef ident="min" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="content" mode="change">
               <attList>
                  <attDef ident="autoPrefix" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="true"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="attList" mode="change">
               <attList>
                  <attDef ident="org" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="group"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="attDef" mode="change">
               <attList>
                  <attDef ident="usage" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="opt"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="module" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="[add|change|replace]"/>
                        <valItem ident="delete"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="datatype" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="dataRef" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="restriction" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="valItem" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="add"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="valList" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="[open|closed|semi]"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="add"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <classSpec ident="att.canonical" type="atts" mode="change">
               <attList>
                  <attDef ident="key" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable.w3c" type="atts" mode="change">
               <attList>
                  <attDef ident="notBefore" mode="delete"/>
                  <attDef ident="notAfter" mode="delete"/>
                  <attDef ident="from" mode="delete"/>
                  <attDef ident="to" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.editLike" type="atts" mode="change">
               <attList>
                  <attDef ident="evidence" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing" type="atts" mode="change">
               <attList>
                  <attDef ident="targetLang" mode="delete"/>
                  <attDef ident="evaluate" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.typed" type="atts" mode="change">
               <attList>
                  <attDef ident="subtype" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.ascribed.directed" type="atts" mode="change">
               <attList>
                  <attDef ident="toWhom" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.datable" type="atts" mode="change">
               <attList>
                  <attDef ident="period" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.dimensions" type="atts" mode="change">
               <attList>
                  <attDef ident="unit" mode="delete"/>
                  <attDef ident="quantity" mode="delete"/>
                  <attDef ident="extent" mode="delete"/>
                  <attDef ident="precision" mode="delete"/>
                  <attDef ident="scope" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.divLike" type="atts" mode="change">
               <attList>
                  <attDef ident="org" mode="delete"/>
                  <attDef ident="sample" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.handFeatures" type="atts" mode="change">
               <attList>
                  <attDef ident="scribe" mode="delete"/>
                  <attDef ident="scribeRef" mode="delete"/>
                  <attDef ident="script" mode="delete"/>
                  <attDef ident="scriptRef" mode="delete"/>
                  <attDef ident="medium" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.media" type="atts" mode="change">
               <attList>
                  <attDef ident="width" mode="delete"/>
                  <attDef ident="height" mode="delete"/>
                  <attDef ident="scale" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.naming" type="atts" mode="change">
               <attList>
                  <attDef ident="nymRef" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.pointing.group" type="atts" mode="change">
               <attList>
                  <attDef ident="domains" mode="delete"/>
                  <attDef ident="targFunc" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.segLike" type="atts" mode="change">
               <attList>
                  <attDef ident="function" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.transcriptional" type="atts" mode="change">
               <attList>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="cause" mode="delete"/>
                  <attDef ident="seq" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.damaged" type="atts" mode="change">
               <attList>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="group" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.timed" type="atts" mode="change">
               <attList>
                  <attDef ident="start" mode="delete"/>
                  <attDef ident="end" mode="delete"/>
               </attList>
            </classSpec>
            <classSpec ident="att.personal" type="atts" mode="change">
               <attList>
                  <attDef ident="sort" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module core-->
            <moduleRef key="core"
                       include="p hi desc gloss gap add del name date ref note lb monogr author editor respStmt resp title imprint publisher pubPlace bibl biblStruct listBibl"/>
            <elementSpec ident="p" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="part" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="N"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="hi" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="desc" mode="change">
               <attList>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gloss" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="gap" mode="change">
               <attList>
                  <attDef ident="reason" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="signatureContent"/>
                     </valList>
                  </attDef>
                  <attDef ident="agent" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="add" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="bottom"/>
                        <valItem ident="inline"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="hand"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="del" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="illegible"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="name" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="full" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="date" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="instant" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="ref" mode="change">
               <constraintSpec ident="ref" mode="change" scheme="isoschematron">
                  <desc>[Note change!]
                     This rule ensures that if <gi>ref</gi> contains an asterisk (*), it has a <att>target</att>.
                  </desc>
                  <constraint>
                     <sch:rule context="tei:ref">
                        <sch:assert test="not(contains(., '(*)')) or @target">
                           If the ref element contains an asterisk "(*)", it must have a target attribute.
                        </sch:assert>
                     </sch:rule>
                  </constraint>
               </constraintSpec>
               <attList>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="department"/>
                        <valItem ident="fonds"/>
                     </valList>
                  </attDef>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <p hand="#typed">Je t'indique par commodité que Muriel est 
                        <lb/>généralement désignée sous le nom de "Nuk" tandis que 
                        <lb/>Anne apparait sous le nom de "Mauve". 
                        <add hand="#handwritten" place="inline">
                           <ref target="#n1">(*)</ref></add>ss
                     </p>
                  </egXML>
               </exemplum>
            </elementSpec>
            <elementSpec ident="note" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="genre"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="lb" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="monogr" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="author" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="editor" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="respStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="resp" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="title" mode="change">
               <attList>
                  <attDef ident="level" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="imprint" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publisher" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="role" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="bibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="biblStruct" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="status" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="listBibl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module figures-->
            <!--Checking module header-->
            <moduleRef key="header"
                       include="teiHeader fileDesc titleStmt extent publicationStmt distributor idno availability licence sourceDesc encodingDesc projectDesc samplingDecl profileDesc handNote creation langUsage language correspDesc correspAction revisionDesc change"/>
            <elementSpec ident="teiHeader" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="extent" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="distributor" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="idno" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="BNF"/>
                        <valItem ident="ISBN"/>
                        <valItem ident="ark"/>
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="BNF"/>
                        <valItem ident="ISBN"/>
                        <valItem ident="ark"/>
                        <valItem ident="wikidata"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="availability" mode="change">
               <attList>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="free"/>
                        <valItem ident="restricted"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="licence" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="sourceDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="false"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="encodingDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="projectDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="samplingDecl" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="handNote" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="creation" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="when" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="langUsage" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="language" mode="change">
               <attList>
                  <attDef ident="usage" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="ref" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="correspAction" mode="change">
               <desc>[Note change!]
                  This specification changes the  <att>type</att> attribute of <gi>correspAction</gi> which is part of the header module.
               </desc>
               <attList>
                  <attDef ident="type" mode="change">
                     <desc>[Note change!] 
                        The <att>type</att> attribute used in <gi>correspAction</gi> describes the terms of exchange undergone by the letter.
                        In this part, we replace the specification of the <att>type</att> attribute, it must contain only one of the two values <gi>sent</gi> and <gi>received</gi>
                        No other values are allowed.
                     </desc>
                     <datatype>
                        <dataRef key="teidata.enumerated"/>
                     </datatype>
                     <valList mode="replace" type="closed">
                        <valItem ident="sent"/>
                        <valItem ident="received"/>
                     </valList> 
                  </attDef>
               </attList>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <correspAction type="sent">
                        <persName type="author" ref="#Truf_001">François Truffaut </persName>
                        <persName type="recipient" ref="#Gru_002">Jean Gruault</persName>
                        <placeName ref="#Par_001">Paris</placeName>
                        <date when="1968-02-27" xml:lang="fr">le 27 février 1968</date>
                     </correspAction>
                  </egXML>
               </exemplum>  
            </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="change" mode="change">
               <attList>
                  <attDef ident="target" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="status" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="draft"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module gaiji-->
            <classRef key="att.gaijiProp"/>
            <classSpec ident="att.gaijiProp" type="atts" mode="change">
               <attList>
                  <attDef ident="name" mode="delete"/>
                  <attDef ident="value" mode="delete"/>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="scheme" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module verse-->
            <!--Checking module transcr-->
            <moduleRef key="transcr" include="fw"/>
            <elementSpec ident="fw" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="letterhead"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="place" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="top-center"/>
                        <valItem ident="top-left"/>
                     </valList>
                  </attDef>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="letterhead"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <!--Checking module linking-->
            <classRef key="att.global.linking"/>
            <moduleRef key="linking" include="ab"/>
            <elementSpec ident="ab" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <classSpec ident="att.global.linking" type="atts" mode="change">
               <attList>
                  <attDef ident="synch" mode="delete"/>
                  <attDef ident="sameAs" mode="delete"/>
                  <attDef ident="copyOf" mode="delete"/>
                  <attDef ident="next" mode="delete"/>
                  <attDef ident="prev" mode="delete"/>
                  <attDef ident="exclude" mode="delete"/>
                  <attDef ident="select" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module analysis-->
            <classRef key="att.linguistic"/>
            <classSpec ident="att.linguistic" type="atts" mode="change">
               <attList>
                  <attDef ident="lemma" mode="delete"/>
                  <attDef ident="lemmaRef" mode="delete"/>
                  <attDef ident="pos" mode="delete"/>
                  <attDef ident="msd" mode="delete"/>
                  <attDef ident="join" mode="delete"/>
               </attList>
            </classSpec>
            <!--Checking module textstructure-->
            <moduleRef key="textstructure"
                       include="TEI text body div dateline opener closer salute signed"/>
            <elementSpec ident="TEI" mode="change">
               <attList>
                  <attDef ident="version" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="text" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="body" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="div" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="part" mode="delete"/>
                  <attDef ident="place" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="letter"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="dateline" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="sent"/>
                     </valList>
                  </attDef>
               </attList> 
            </elementSpec>
            <elementSpec ident="opener" mode="change">
               <desc>[Note change!]
                  The <gi>opener</gi> is an integral part of the letter's structure and follows a specific logic. 
                  This rule governs the structure of the opener's content in most letters. 
                  It must contain a sequence of two elements as childrens: <gi>dateline</gi>, <gi>salute</gi>, and may contain a <gi>persName</gi>. 
                  No other elements are allowed.
               </desc>
               <content>
                  <sequence>
                     <elementRef key="dateline" minOccurs="1" maxOccurs="1"/>
                     <elementRef key="persName" minOccurs="0" maxOccurs="1"/>
                     <elementRef key="salute" minOccurs="1" maxOccurs="1"/>
                  </sequence>
               </content>
               <exemplum>
                  <egXML xmlns="http://www.tei-c.org/ns/Examples">
                     <opener hand="#typed">
                        <dateline>
                           <placeName ref="#Par_001">Paris</placeName>
                           <date when="1968-02-27">le 27 février 1968</date>
                        </dateline>
                        <persName role="author" ref="#Truf_001">François Truffaut</persName>
                        <salute>Mon cher <persName role="recipient" ref="#Gru_002">Jean,</persName></salute>
                     </opener>
                  </egXML>
               </exemplum>
            </elementSpec>
            <elementSpec ident="salute" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="hand" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="signed" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <!--Checking module corpus-->
            <moduleRef key="corpus"
                       include="textDesc channel constitution derivation domain factuality interaction preparedness purpose"/>
            <elementSpec ident="textDesc" mode="change">
               <attList>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="default" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="channel" mode="change">
               <attList>
                  <attDef ident="mode" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="w"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
               </attList>
            </elementSpec>
            <elementSpec ident="constitution" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="single"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="single"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="derivation" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="original"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="original"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="domain" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="personal"/>
                        <valItem ident="personnal"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="personal"/>
                        <valItem ident="personnal"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="factuality" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="fact"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="fact"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="interaction" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="partial"/>
                     </valList>
                  </attDef>
                  <attDef ident="active" mode="delete"/>
                  <attDef ident="passive" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="partial"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="preparedness" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="formulaic"/>
                     </valList>
                  </attDef>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="formulaic"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
            <elementSpec ident="purpose" mode="change">
               <attList>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="communication"/>
                     </valList>
                  </attDef>
                  <attDef ident="degree" mode="delete"/>
                  <attDef ident="corresp" mode="delete"/>
                  <attDef ident="source" mode="delete"/>
                  <attDef ident="type" mode="change">
                     <valList mode="add" type="closed">
                        <valItem ident="communication"/>
                     </valList>
                  </attDef>
               </attList>
            </elementSpec>
         </schemaSpec>
      </body>
   </text>
</TEI>
